
body {
  background-color: #121826;
 
}
h1 {
    font-family: 'Outfit', sans-serif ;
    color: #E5E7EB;
    font-size: 40px;
    font-weight: 600;
    }
h2{
    font-family: 'Outfit', sans-serif;
    color: #E5E7EB;
    font-size: 20px;
    font-weight: 600;
}
h3 {
    font-family: 'Outfit', sans-serif;
    color: #9DA3AE;
    font-size: 16px;
    font-weight: 400;

}
p {
    font-family: 'Outfit', sans-serif;
    color: #DEE9FC;
    font-size: 16px;
    font-weight: 400;

}

.cuadro{
    display: flex;
    background-color: #212936;
    flex-direction: row;      
    justify-content: center;  
    flex-wrap: nowrap;  
    border-radius: 12px;
    gap: 100px;


}
